# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/data/repo
/data/result
/data/input
/dataSources.local.xml
*.pyc
*/.pyc
.DS_Store
*/.DS_Store